
.icon-menu:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-plus-squared:before { content: '\e807'; } /* '' */
.icon-plus-squared-alt:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-ok-squared:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-thumbs-down:before { content: '\e811'; } /* '' */
.icon-comment-empty:before { content: '\e812'; } /* '' */
.icon-chat-empty:before { content: '\e813'; } /* '' */
.icon-left-open:before { content: '\e814'; } /* '' */
.icon-down-open:before { content: '\e815'; } /* '' */
.icon-right-open:before { content: '\e816'; } /* '' */
.icon-up-open:before { content: '\e817'; } /* '' */
.icon-angle-left:before { content: '\e818'; } /* '' */
.icon-angle-up:before { content: '\e819'; } /* '' */
.icon-angle-down:before { content: '\e81a'; } /* '' */
.icon-angle-right:before { content: '\e81b'; } /* '' */
.icon-wifi:before { content: '\e81c'; } /* '' */
.icon-flash:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e81f'; } /* '' */
.icon-gplus:before { content: '\e820'; } /* '' */
.icon-linkedin:before { content: '\e821'; } /* '' */
.icon-paypal:before { content: '\e822'; } /* '' */
.icon-instagramm:before { content: '\e823'; } /* '' */
.icon-foursquare:before { content: '\e824'; } /* '' */
.icon-youtube-squared:before { content: '\e825'; } /* '' */
.icon-youtube-play:before { content: '\e826'; } /* '' */
.icon-yelp:before { content: '\e827'; } /* '' */
.icon-user-male:before { content: '\e828'; } /* '' */
.icon-tripadvisor:before { content: '\e829'; } /* '' */
.icon-food:before { content: '\e82a'; } /* '' */
.icon-location:before { content: '\e82b'; } /* '' */
.icon-chat:before { content: '\e82c'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-heart-1:before { content: '\e82e'; } /* '' */
.icon-star-1:before { content: '\e82f'; } /* '' */
.icon-thumbs-up-1:before { content: '\e830'; } /* '' */
.icon-location-1:before { content: '\e831'; } /* '' */
.icon-store:before { content: '\e832'; } /* '' */
.icon-jack-salada:before { content: '\e833'; } /* '' */
.icon-icon-flatware:before { content: '\e834'; } /* '' */